* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 10px;
}
/*其他地方引入的类*/
a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}
a:hover{
    text-decoration: none;
    color:#22ffff !important;
}

input:focus {
    outline: none;
}

@font-face {
    font-family: "logo";
    src: url(../font/logo.ttf);
}
/*结束*/

/*help.css中的样式*/

.active {
    color: #22ffff;
}

.two {
    display: none;
    list-style: none;
}

.one > li {
    cursor: pointer;
    margin-bottom: 0.5rem;
}

#right > div:not(:nth-child(1)) {
    display: none;
}

#right ul {
    list-style: none;
}

.my-height {
    height: 100vh;
}
/*结束*/

/*dynamic文件中的样式*/

body::before {
    content: "";
    display: table;
}

.my-container {

}

.title {
    margin-top: 5rem;
    text-align: center;
    background: url("../img/dynamic/bg.jpg") no-repeat;
    background-size: cover;
    color: gray;
    padding: 4rem 0;
}

.title h2 {
    font-size: 2.5rem;
    color: white;
}

.section.row {
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
}

.intro {
    padding: 3rem;
    border: 1px solid gray;
}

.intro ul li {
    margin-bottom: 1rem;
    cursor: pointer;
}

.intro ul li a {
    cursor: pointer;
}

.intro ul li a:hover {
    color: #00FFFF;
}

.intro ul li::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-color: transparent transparent transparent gray;
    margin-right: 0.5rem;
}

.detail {
    margin-bottom: 3rem;
}

.detail h4 {
    margin-top: 0;
}

.detail .date {
    color: gray;
}

.detail ul {
    margin: 0;
}


.detail img {

    border-radius: 0.5rem;
}

.my-intro {
    float: left;
    /* margin-left: 3rem; */
    cursor: pointer;
}

.my-intro button {
    padding-left: 0;
}

.my-intro button:focus {
    outline: none;
}

.article {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.next-ul {
    padding-left: 1.4rem;
}

.next-ul li {
    margin: 1rem 0 !important;
}

/*分页样式*/
#biuuu_city {
    text-align: center;
    color: white;
}

#product,
#media,
#industry {
    display: none;
}

.intro ul {
    list-style: none;
}

#show {
    overflow-x: hidden;
}

.my-notice {
    border: 1px dotted gray;
}

/*结束*/

.only-title {
    font-size: 4rem;
    text-decoration: none;
    font-family: logo;
}

.swiper-container {
    height: 100%;
}

.swiper-container-father > .swiper-wrapper > .swiper-slide:nth-child(2) {
    background: url("../img/index/bg3.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.swiper-container-father > .swiper-wrapper > .swiper-slide:nth-child(2)::before {
    display: table;
    content: "";
}

.swiper-container-father > .swiper-wrapper > .swiper-slide:nth-child(3) {
    background: url("../img/bg01.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container-father > .swiper-wrapper > .swiper-slide:nth-child(3) ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.swiper-container-father > .swiper-wrapper > .swiper-slide:nth-child(3) ul li {
    padding: 1rem;
    text-align: center;
}

.swiper-container-son > .swiper-wrapper > .swiper-slide:nth-child(1) {
    background: url("../img/index/bg04.jpg") no-repeat center;
    background-size: 100% 100%;
}

.swiper-container-son > .swiper-wrapper > .swiper-slide:nth-child(2) {
    background: url("../img/index/bg07.jpg") no-repeat center;
    background-size: 100% 100%;
}

.swiper-container-son > .swiper-wrapper > .swiper-slide:nth-child(3) {
    background: url("../img/index/bg08.jpg") no-repeat center;
    background-size: 100% 100%;
}

.swiper-container-son > .swiper-wrapper > .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: logo;
}

.swiper-slide .notice::before {
    display: block;
    content: "";
    width: 1px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
}

.swiper-slide .notice::after {
    display: block;
    content: "";
    width: 1px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
}

.shipin {
    font-size: 3rem;
    margin: 10rem 0 2rem;
}

.pipei {
    font-size: 2rem;
    margin-bottom: 5rem;
}
/*about.css文件引入的样式*/

.about {
    color: gray;
    position: relative;
}

.my-carousel {
    position: relative;
    padding-top: 8rem;
    width: 100%;
    height: 100%;
    transition: all .3s linear;
}

.car-item {
    height: 100%;
    width: 100%;
}

.team {
    padding: 5rem 0;
    background: url("../img/about/bg.jpg") no-repeat;
    text-align: center;
}

.my-choice i {
    cursor: pointer;
    font-size: 2rem;
    font-style: normal;
}

.my-choice i:hover {
    text-decoration: underline;
}


.p-margin {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 1.5rem;
    text-align: left
}

.my-text {
    text-align: left;
    padding: 1rem 0;
    /* border-bottom: 1px solid white; */
    font-size: 1.4rem;
}

.my-text-1 {
    text-align: left;
    font-size: 1.4rem;
}

.shangbiao {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    list-style: none;
    margin-top: 5rem;
}

.shangbiao li img {
    width: 88px;
    height: 71px;
}
.mian-title {
    font-style: normal;
    font-size: 2rem;
    color: white;
    padding-right: 1rem;
}
/*结束*/

@media screen and (min-width: 1023px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem 4rem;
    }

    header ul {
        list-style: none;
        margin: 0;
    }

    header ul li {
        float: left;
        color: gray;
    }

    header ul li a {
        color: black;
        font-size: 1.4rem;
    }

    header > ul > li > a {
        color: white;
        font-size: 17px;
    }

    header > ul > li > a:hover {
        text-decoration: none;
        color: white;
    }

    header > ul > li:not(:last-child) {
        margin-right: 3rem;
    }

    .header {
        font-size: 1.2rem;
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem 4rem;
        /* background-color: black; */
        border-bottom: 1px solid gray;
    }

    .logo-title {
        font-size: 4rem;
        text-decoration: none;
        font-family: logo;
        color: white;
    }

    .logo-title:hover {
        text-decoration: none;
        color: white;
    }

    .notice {
        border-top: 0.1rem solid white;
        border-bottom: 0.1rem solid white;
        padding: 5rem 0;
        color: white;
    }

    .notice p:nth-child(1) {
        font-size: 5rem;
        font-weight: bold;
    }

    .notice p:nth-child(2) {
        font-weight: normal;
        font-size: 3rem;
    }

    .downapp {
        position: absolute;
        bottom: 10rem;
        left: 10rem;
        z-index: 1;
    }

    .show-erweima {
        border: 1px solid gray;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        width: 13rem;
    }

    .btn-left, .btn-right {
        margin-top: 1rem;
        cursor: pointer;
        padding: 0.7rem 0.5rem;
        box-shadow: 0 0 10px black;
        border-radius: 5px;
        font-weight: bold;
        transition: all 0.3s linear;
    }

    .downapp button:hover {
        opacity: 0.7;
    }

    .meinv {
        width: 100%;
    }

    .big-img {
        max-width: 70%;
        margin: 0 auto;
        overflow: hidden;
    }

    .big-img div {
        float: left;
        text-align: center;
        width: 25%;
    }

    .big-img div {
        padding: 0 0.3rem;
    }

    .swiper-container-father > .swiper-wrapper > .swiper-slide:nth-child(3) div p:nth-child(1) {
        font-family: logo;
        font-size: 7rem;
    }

    .sm-header {
        display: none;
    }

    .hide-list {
        display: none !important;
    }

    .small-img {
        display: none;
    }
    /*help.css文件中引入的样式*/
    .left {
        padding: 5rem 0 0 5rem;
        width: 26rem;
        overflow-y: scroll;
        float: left;
    }

    .left ul {
        list-style: none;
    }

    .left > h2 {
        margin-bottom: 2.5rem;
        font-size: 2.5rem;
    }

    .left > ul.one {
        font-size: 1.5rem;
    }

    .left ul.two {
        margin-left: 1.5rem;
    }

    .right {
        padding: 5rem 0 0 3rem;
        float: left;
        font-size: 1.5rem;
    }

    .right > h2 {
        font-size: 2.7rem;
    }

    .right .title {
        margin: 3rem 0;
    }

    .right ul {
        list-style-position: inside;
    }
    /*结束*/
    /*dynamic文件中的样式*/

    /*结束*/
    /*about.css中引入的样式*/
    .company, .my-team, .culture {
        height: 578px;
        width: 65%;
        margin: 0 auto;
    }
    .show-img {
        display: none;
    }
    /*结束*/
    /*detail.css中的样式*/
    .shangshi {
        margin: 4rem auto;
        width: 75%;
        color: white;
    }
}

@media screen and (max-width: 1023px) {
    header {
        display: none;
    }

    .sm-header {
        padding: 1.6rem 15px;
        background-color: black;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .hide-list {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 20rem;
        background-color: #212121;
        height: 100%;
        display: none;
        overflow-y: auto;
    }

    .hide-list ul li:nth-child(1) {
        /*border-top: 1px solid gray;*/
    }

    .hide-list ul li {
        padding: 1.5rem 1rem;
        border-bottom: 1px solid gray;
        font-size: 16px;
    }

    .hide-list ul li a {
        color: white;
    }

    .hide-list ul li a:hover {
        text-decoration: none;
    }

    .notice {
        border-top: 0.1rem solid white;
        border-bottom: 0.1rem solid white;
        padding: 4rem 0;
        color: white;
    }

    .notice p:nth-child(1) {
        font-size: 3rem;
        font-weight: bold;
    }

    .notice p:nth-child(2) {
        font-weight: normal;
        font-size: 2rem;
    }

    .downapp {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }

    .show-erweima {
        border: 1px solid gray;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        width: 8rem;
    }

    .btn-left, .btn-right {
        margin: 1rem auto;
        cursor: pointer;
        padding: 0.4rem 0.2rem;
        box-shadow: 0 0 10px black;
        border-radius: 5px;
        font-weight: bold;
        transition: all 0.3s linear;
    }

    .downapp button:hover {
        opacity: 0.7;
    }

    .swiper-container-son > .swiper-wrapper > .swiper-slide:nth-child(1) div.notice {
        padding: 0;
    }

    .big-img {
        display: none;
    }

    .meinv {
        width: 100%;
    }

    .small-img {
        padding: 0 1rem;
        width: 100%;
    }

    .small-img div {
        float: left;
        width: 25%;
        padding: 0 0.3rem;
    }

    .swiper-container-father > .swiper-wrapper > .swiper-slide:nth-child(3) div p:nth-child(1) {
        font-family: logo;
        font-size: 4rem;
    }
    /*help.css中引入的样式文件*/
    .doc{
        margin-top:5rem;
    }
    .left {
        display: none;
    }

    .right {
        padding: 15px;
    }

    .right > ul {
        list-style: none;
    }

    ul.help {
        list-style: none;
    }

    ul.help > li:nth-child(1) {
        padding: 1.5rem 1rem;
        border-bottom: 1px solid gray;
    }

    ul.help li {
        padding: 0.8rem 1rem 0;
        cursor: pointer;
        border: none;
    }
    /*结束*/
    /*dynamic文件中的样式*/
    #show {
        text-align: center;

    }

    .section.row {
        width: auto;
    }

    .intro {
        text-align: center;
    }

    .my-intro {
        margin-left: 0;
    }
    /*结束*/
    /*about.css中的样式*/
    .company, .my-team, .culture {
        height: 578px;
        width: 100%;
        margin: 0 auto;
    }

    .shangbiao {
        margin: 0;
    }
    .my-img-bg1 {
        width: 100%;
        height: 100%;
    }
    /*结束*/
    /*about中的样式*/
    .shangshi {
        margin: 10rem auto;
        width: 85%;
        color: white;
    }

    .showmore {
        display: none;
    }
    /*结束*/
    /*detail.css中的样式*/
    .section > div:nth-child(2) {
        margin: 11rem auto 0;
        color: white;
    }
}

.first-img {
    animation: zoomInLeft 0.5s linear 1;
}

.second-img {
    animation: zoomInLeft 1s ease-out 1;
}

.third-img {
    animation: zoomInLeft 1.5s linear 1;
}

.fourth-img {
    animation: zoomInLeft 2s linear 1;
}
