.all-footer::before{
    content: "";
    display: table;
}
.all-footer{
    padding:40px 120px 50px;
    background: url("/img/dynamic/tangle.png") no-repeat center;
    background-size:cover ;
    margin:0 auto;
}
.all-footer p{
    color:rgba(255,255,255,1);
    font-size:24px;
    margin-bottom: 30px;
}
.all-footer .i-ul-two{
    display: flex;
    width: 404px;
    justify-content: space-between;
}
.all-footer .i-ul-two li a{
    font-size:14px;
    color:rgba(232,211,255,1);
}