.login{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../../assets/images/loginbg.jpg") no-repeat;
  background-size:cover;
  .login-panel{
    max-width: 400px;
    background:rgba(255,255,255, 0.2);
    border:1px solid #e3e3e3;
    padding:20px;
  }
}